<% if @desliked %>
  <%= link_to "Descurtiu #{@article.deslike_articles.count}", deslike_article_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% else %>
  <%= link_to "Descurtir #{@article.deslike_articles.count}", deslike_article_path, method: :patch, id: "descurtir", remote: true, authenticity_token: true %>
<% end %>