<% if @liked %>
  <%= link_to "Curtiu #{@article.like_articles.count}", like_article_path, method: :patch, id: "curtir", remote: true, authenticity_token: true %>
<% else %>
  <%= link_to "Curtir #{@article.like_articles.count}", like_article_path, method: :patch, id: "curtir", remote: true, authenticity_token: true %>
<% end %>