<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @article.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <%= image_tag(@article.photo_url)  if @article.photo.present? %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= render 'like' %>
<%= render 'deslike' %>

<%= form_for @comment, url: :comment_article do |f| %>
  <%= f.text_field :content%>
  <%= f.submit "Comentar" %>
<% end %>

<% @comments.each do |comment| %>
  <p><%= comment.content %></p>
  <p><%= link_to "Editar", edit_comment_article_path(comment)%></p>
<% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
