<% provide(:title, "Usuários | ")%>
<h1>Index</h1>

<% @users.each do |user|%>
  <p>Nome: <%= link_to user.name, user_path(user) %></p>
  <p>Email: <%= user.email %></p>
  <%= link_to "Apagar Usuario", user_destroy_path(user), method: :delete %>
<% end %>